<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container">
        <h1 class="my-3" th:text="${title}"></h1>

        <div th:object="${client}" th:remove="tag">
            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
            </ul>
        </div>

        <form th:action="@{/form}" th:object="${client}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" th:field="*{firstName}">
                <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
            </div>

            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
                <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}">
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>

            <div class="mb-3">
                <label for="createAt" class="form-label">Date</label>
                <input type="date" class="form-control" id="createAt" th:field="*{createAt}">
                <small class="text-danger" th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}"></small>
            </div>

            <div class="mb-3">
                <label for="formFileLg" class="form-label">Photo</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name="file">
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Create client</button>
                <a th:href="@{/list}" class="btn btn-warning">Go back</a>
            </div>
        </form>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>