<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
    <header th:replace="layout/layout :: header"></header>

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="">Client List</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Create at</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="client: ${clients}">
                            <th scope="row" th:text="${client.id}"></th>
                            <td th:text="${client.firstName}"></td>
                            <td th:text="${client.lastName}"></td>
                            <td th:text="${client.email}"></td>
                            <td th:text="${client.createAt}"></td>
                            <td><a th:href="@{'/form/' + ${client.id}}" class="btn btn-warning">Edit</a></td>
                            <td><a th:href="@{'/delete/' + ${client.id}}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{/form}" class="btn btn-primary mb-3">Create client</a>

                <nav th:replace="paginator-nav::paginator"></nav>
            </div>
        </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>